# Claves de API para NoAIVerdad Backend
GOOGLE_FACT_CHECK_API_KEY=AIzaSyBAWxrWGEeQzVF9Zfq-cWVNO6rhfQfAH0U
GNEWS_API_KEY=964955b9ed4c4dabfc647243a29aca4b

# Configuración del Servidor FastAPI
PORT=8000
HOST=0.0.0.0
